@font-face {
  font-family: 'Mitr';
  src: url('/assets/fonts/Mitr-Medium.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mitr', Arial, sans-serif;
}

.mobile-screen {
  width: 100%;
  max-width: 390px;
  height: 100%;
  max-height: 667px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide-image.active {
  opacity: 1;
  z-index: 1;
}

.text-overlay {
  position: absolute;
  color: #1E146C;
  padding: 10px 16px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  font-size: 18px;
  text-align: center;
  z-index: 9999; /* 💥 ให้แน่ใจว่าอยู่บนสุด */
  opacity: 1;
}


.text-top {
  top: 5%;
}

.text-bottom {
  bottom: 10%;
}

.overlay {
  position: absolute;
  z-index: 3;
  transition: transform 0.3s ease;
}

.glow-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 20px 8px rgba(255, 0, 0, 0.4);
  z-index: 4;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.glow-dot:hover {
  opacity: 0.5;
}

.light-off-style {
  width: 51px !important;
  top: 6% !important;
  left: 26% !important;
}

.tv-off-style {
  width: 200px !important;
  top: 42% !important;
  left: -40% !important;
}

.fan-off-style {
  width: 87px !important;
  top: 54% !important;
  left: 19% !important;
}

.small-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #666666;  /* สีเทาเข้ม */
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
}


.time-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 20;
}

.time-bar-fill {
  height: 100%;
  width: 0%;
  background-color: #1E146C;
  transition: width linear;
}



