@font-face {
  font-family: 'Mitr';
  src: url('/assets/fonts/Mitr-Medium.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mitr', Arial, sans-serif;
}

.mobile-screen {
  width: 100%;
  max-width: 390px;
  height: 100%;
  max-height: 667px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide-image.active {
  opacity: 1;
  z-index: 1;
}

#img1, #img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 0;
}

#img1.active, #img2.active {
  opacity: 1;
  z-index: 1;
}

.text-overlay {
  position: absolute;
  color: #1E146C;
  padding: 10px 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  font-size: 18px;
  text-align: center;
  z-index: 9999; 
  opacity: 1;
}

.text-screen-19{
  position: absolute;
  color: #1E146C;
  padding: 10px 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100% !important;
  font-size: 18px;
  text-align: center;
  z-index: 9999; 
  opacity: 1;
  border: 1px solid red;
}

.text-screen-23{
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #4746468e;  /* สีเทาเข้ม */
  display: inline-block;
  padding: 0px 2px;
  border-radius: 0px;
}

.text-screen-27{
  position: absolute;
  color: #1E146C;
  padding: 10px 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100% !important;
  font-size: 18px;
  text-align: center;
  z-index: 9999; 
  opacity: 1;
  border: 1px solid red;
}

.text-overlay-question{
  position: absolute;
  color: #fe0000;
  padding: 10px 16px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  font-size: 18px;
  text-align: center;
  z-index: 9999; 
  opacity: 1;
}


.text-top {
  top: 5%;
}

.text-bottom {
  bottom: 10%;
}

.overlay {
  position: absolute;
  z-index: 3;
  transition: transform 0.3s ease;
}


.glow-dot:hover {
  opacity: 0.5;
}

.glow-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 20px 8px rgba(255, 0, 0, 0.5);
  z-index: 4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}


.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.glow-dot.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}



.small-text {
  position: absolute;
  color: #f8f8f8;
  padding: 10px 16px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  font-size: 18px;
  text-align: center;
  z-index: 9999; /* 💥 ให้แน่ใจว่าอยู่บนสุด */
  opacity: 1;
}

.sceen-text{
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #4746468e;  /* สีเทาเข้ม */
  display: inline-block;
  padding: 0px 2px;
  border-radius: 0px;
}


.time-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 20;
}

.time-bar-fill {
  height: 100%;
  width: 0%;
  background-color: rgb(52, 235, 100);
  transition: width linear;
}

.question-container {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  z-index: 15;
}

.choice-button {
  margin: 6px;
  padding: 12px 18px;
  background-color: #1e1167;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.ranking-area {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rank-tag {
  margin: 4px;
  padding: 6px 12px;
  background-color: #ccc;
  color: #000;
  border-radius: 6px;
  font-size: 16px;
}

.overlay {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.choice-button {
  font-family: 'Mitr';
  font-size: 18px;
  padding: 14px;
  border-radius: 12px;
  background-color: #2c1778;
  color: white;
  border: none;
  cursor: pointer;
}

.quiz-text{
  color:#2c1778;
}



.selected-display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 300px;
  margin: 0 auto;
}

.choice-button-frist {
  background-color: #2c1778;
  color: #fff;
  padding: 10px 15px;
  font-family: 'Mitr';
  font-size: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
}



.choice-button-frist:hover {
  background-color: #666;
  transform: scale(1.05);
}



.choice-button-multiple {
  background-color: #2c1778;
  color: #fff;
  padding: 12px;
  font-family: 'Mitr';
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.choice-button-multiple:hover {
  background-color: #666;
  transform: scale(1.05);
}

.selected {
  background-color: #555;
  color: #ccc;
  opacity: 0.6;
  cursor: not-allowed;
}

.selected-choices span {
  margin: 0 5px;
  padding: 4px 8px;
  background-color: #f3f3f3;
  border-radius: 8px;
  color: #333;
}
